/*GENERAL STYLING*/
:root {
    background-color: var(--blue2);
    font-size: 15px;
    line-height: 1.6;
    /*font1*/
    /* font-family: 'Noto Sans', sans-serif; */
    /*font2*/
    font-family: 'Varela Round', sans-serif;
    --blue1: #92C7CF;
    --blue2: #AAD7D9;
    --light: #FBF9F1;
    --darkblue1: #365486;
    --darkblue2: #151748;
    --footer-height: 5vh;
    --header-height: 10vh;
    --bg-image: 'assets/weather_bg.jpeg'
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: auto;
}

a,
a:visited,
a:focus,
a:active {
    color: #eee;
    text-decoration: none;
    margin-left: 5px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("assets/weather_bg.jpeg");
    background-size: 100% 100%;
}

h1 {
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing:0.5rem;
    font-style:italic
}

/*HEADER ELEMENTS*/
header {
    height: var(--header-height)var(--less-light);
    color: var(--darkblue1);
    padding: 10px 10px 0 15px;
    display: flex;
    align-items: center;
    /* background-color: var(--blue1); */
}

input[type=search] {
    border: 0;
    border-radius: 20px;

    margin: 0 5px 0 5px;
    padding: 10px;

    height: 2rem;
    max-width: 60%;
    width: 40%;

    font-family: 'Varela Round', sans-serif;
    color: var(--darkblue1)
}
input:focus{
    outline: none;
    border:4px solid var(--darkblue1);
    transform:  translate(-5px);
    transition: 100ms ease-in-out
}

#search-bar {
    margin-left: auto;
}

button {
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;

    border: 0;
    border-radius: 12px;

    padding: 5px 12px;
    margin-right: 5px;

}

.to-cel {
    background-color: var(--darkblue2);
    color: #eee;
}

.to-fa {
    background-color: #eee;
    color: var(--darkblue2)
}

/*MAIN ELEMENTS*/
main {
    /* font-family: 'Varela Round',sans-serif; */
    padding: 10px 15px;
    margin-bottom: 20px;
    color: var(--darkblue1);
    /* background-image: linear-gradient(var(--blue1), var(--blue2)); */
    /* height: 85vh; */
    /* height: calc(100vh - (var(--header-height) + var(--footer-height))) */
}

.content {
    /*change flex-direction to row for media query*/
    display: flex;
    flex-direction: column;
}

/* .today-content{ first segment of .content
    display:flex;
}*/

.today-1 {
    padding: 10px;
    border-radius: 10px 50px;
    ;
    font-weight: bolder;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #AAD7D9;
    filter: drop-shadow(5px 5px 0.8rem var(--blue1));
    text-align: center;

}

#citycountry {
    font-size: 2rem;
    font-family: 'Alata', sans-serif;
    /* text-shadow: 2px 2px var(--darkblue1); */
    color: #304977;
    text-shadow: 0 0 10px rgb(198, 232, 236);
}

#current_temp {
    /* border: 3px solid red; */
    height: fit-content;
    color: #eee;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

#current-deg {
    font-size: 1.5rem;
    text-shadow: 2px 3px var(--darkblue1);

}

#temp-num {
    font-family: 'Alata';
    font-size: 8rem;
    text-shadow: 4px 5px var(--darkblue1);

}

.static-text {
    color: var(--darkblue1);
    font-weight: 500;
    /* text-shadow: 0 0 3px var(--darkblue1); */
}

.dynamic-text {
    color:#eee;
    font-size: 1.1rem;
    text-shadow: 0 0 5px var(--darkblue1)
}

.today-2 {
    /* border: 3px solid pink; */
    color: #eee;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.box-data {
    /* border: 2px solid red; */
    width: 100%;
    /* padding: 8px; */
    padding: 12px 15px;
    margin-bottom: 30px;
    border-radius: 10px 20px;
    background-color: var(--blue2);
    /* filter: drop-shadow(5px 5px 0.8rem var(--blue1)); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

.box-data:hover {
    transform: scale(1.05);
    transition: 200ms ease-in-out;
}

.chance {
    text-align: center;
}


.today-3 {
    color: #eee;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 15%;
}
.today-3 .line-1 span:nth-child(2){
    text-shadow: 0 0 10px var(--darkblue1)
}

.line-1 {
    display: flex;
}

.line-1 span:first-child {
    margin-right: auto;
}



.box-data-header {
    text-align: center;
    font-size: 1.5rem;
    color: var(--darkblue1);
    font-weight: 600;
    margin-bottom: 20px;
}

#forecast-data {
    font-size:18px;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

/*FOOTER STYLING*/
footer {
    font-size: 10px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    background-color: var(--blue1);
    height: var(--footer-height);
    color: #eee;
}

.git_logo {
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#credits{
    margin-left: 10px;
}



/* MEDIA QUERIES*/
@media(max-width: 380px) {
    :root{
        font-size: 13px;
    }
}
@media(min-width:500px){
    :root{
        font-size: 17px;
    }
    #forecast-data div,#forecast-data div span{
        font-size: 22px
    }
}
@media(min-width: 820px) {
    :root {
        font-size: 19px;
    }

    .content {
        justify-content: center;
        flex-direction: row;
        gap: 30px;
    }

    #forecast-data {
        grid-row-gap: 60px;
    }
    /* .forecast-content{
        font-size: 10px;
    }*/
    input[type=search]{
        font-size: 19px
    }
    #search-bar{
        margin-right: 10%
    }
    header{
        padding-right: 10%
    }
}

@media(min-width: 850px) {
    :root {
        font-size: 23px;
    }

    #forecast-data {
        grid-row-gap: 90px;
    }

}